@model IEnumerable<Models.EF.NGUOIDUNG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <i class="fa fa-home">Quản lí người dùng</i>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>STT</th>
        <th>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <td></td>
    </tr>
    @{var i = 1; }

@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @item.TenDangNhap
        </td>
        <td>
            @item.MatKhau
        </td>
        <td>
            @item.HoTenNV
        </td>
        <td>
            @item.ChucVu
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNV })
        </td>
    </tr>
    i++;
}

</table>
